<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.36.0" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.5.1" targetFramework="net48" />
  <package id="Dapper" version="2.1.66" targetFramework="net48" />
  <package id="Enums.NET" version="4.0.1" targetFramework="net48" />
  <package id="ExtendedNumerics.BigDecimal" version="2025.1001.2.129" targetFramework="net48" />
  <package id="FreeRedis" version="1.4.0" targetFramework="net48" />
  <package id="FSharp.Core" version="7.0.400" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.30.0" targetFramework="net48" />
  <package id="Json.Net.DataSetConverters" version="1.1.1" targetFramework="net48" />
  <package id="JsonConverter.Abstractions" version="0.7.2" targetFramework="net48" />
  <package id="JsonConverter.Newtonsoft.Json" version="0.7.2" targetFramework="net48" />
  <package id="JsonObjectSerializer" version="0.7.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.3.8" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.8" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net48" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net48" />
  <package id="MessagePipe" version="1.8.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Core.NewtonsoftJson" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.6" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.12.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="8.12.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="8.12.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.12.1" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.0" targetFramework="net48" />
  <package id="MiniExcel" version="1.41.3" targetFramework="net48" />
  <package id="MongoDB.Bson" version="3.4.0" targetFramework="net48" />
  <package id="MySql.Data" version="9.3.0" targetFramework="net48" />
  <package id="MySqlConnector" version="2.4.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3" targetFramework="net48" />
  <package id="NPOI" version="2.7.3" targetFramework="net48" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.8" targetFramework="net48" />
  <package id="Polly" version="8.6.1" targetFramework="net48" />
  <package id="Polly.Core" version="8.6.1" targetFramework="net48" />
  <package id="Prism.Container.Abstractions" version="9.0.106" targetFramework="net48" />
  <package id="Prism.Core" version="9.0.537" targetFramework="net48" />
  <package id="Prism.Events" version="9.0.537" targetFramework="net48" />
  <package id="Quartz" version="3.14.0" targetFramework="net48" />
  <package id="Serialize.Linq" version="4.0.167" targetFramework="net48" />
  <package id="Serilog" version="4.3.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="7.0.0" targetFramework="net48" />
  <package id="ServiceStack.Common" version="8.8.0" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="8.8.0" targetFramework="net48" />
  <package id="ServiceStack.Redis" version="8.8.0" targetFramework="net48" />
  <package id="ServiceStack.Text" version="8.8.0" targetFramework="net48" />
  <package id="SharpCompress" version="0.40.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.1" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="2.1.10" targetFramework="net48" />
  <package id="SqlSugar" version="5.1.4.196" targetFramework="net48" />
  <package id="StackExchange.Redis" version="2.8.41" targetFramework="net48" />
  <package id="Stef.Validation" version="0.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.6" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="5.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.6" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="8.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net48" />
  <package id="System.Security.Permissions" version="9.0.6" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net48" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.8.5" targetFramework="net48" />
</packages>