<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KZONE.UI.Properties.Settings.UniBCS_HKCConnectionString" connectionString="Data Source=.;Initial Catalog=KZONE_B20_01;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="KZONE.UI.Properties.Settings.UniBCS_HKC_HISConnectionString" connectionString="Data Source=.;Initial Catalog=KZONE_B20_01_HIS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
